openapi: 3.0.0
info:
  version: 1.0.8
  title: registries_searches-v1
  description: Api to search gift registries
x-api-definition:
  dependencies: []
  api_name: registries_searches-v1
  personnel:
    portfolio: Digital
    owner: Indrakumar.Thimmaiah
    development_team: Registries Team
    developers:
      - Shashi.Sharma
      - Parthasarathy.Hd
      - Kiran.Shivalingaiah
      - RAJESHKANNAN.BALU
      - Kundanam.Sreenivas
      - Lakshmi.A2
      - MohanaSundaram.A
      - Bhavya.Neelgar
      - Aravind.Thonupunuri
      - Gopika.Jayakumar
    enterprise_architect:
      - Maria.Brinas-Dobrowski
  compliance_designations:
    - None
  api_type: TENANT
  lifecycle_status: BUILD
  production_date: null
  retirement_date: null
  api_framework: Micronaut
  overall_data_classification: PUBLIC
  business_criticality: P2
  service_now_ci: CI02875146
  workload_placements:
    - where: core
      platform: tap
      proxy_pattern: side-car
  notification_ids:
    - description: ShuttleIO
      id: b071dbd9261f4d9b80972b607467b689
    - description: slack
      id: GQ10ZD7UZ
  slack_channel_id: GQ10ZD7UZ
  nuid_ad_groups: [APP-BACKPACK-REGISTRY-PROD-READ]
  risk_rating: MEDIUM
  last_pentest_date: null
  links:
    issue_tracker: https://git.target.com/Registry-Modernization/backpack-elasticsearch/issues
    api_wiki_page: null
    code_repository: https://git.target.com/Registry-Modernization/backpack-elasticsearch
    ci_pipeline: https://git.target.com/Registry-Modernization/backpack-elasticsearch
    documentation_links:
      - https://git.target.com/Registry-Modernization/backpack-elasticsearch/blob/master/README.md
    logging_link:
      - http://platform.logging.target.com/goto/b6dc02a192efa17b59c15e539143ecaf
    metrics_link:
      - https://visualize.target.com/d/KXWja4RMk/target-platform-metrics-backpackregistry?orgId=1
    monitoring_link:
      - https://www.thalamus.target.com
    support_team_contact: TargetIndia-TTS-GRWS-Dev@Target.com
    api_spec: https://git.target.com/Registry-Modernization/backpack-elasticsearch/blob/master/api-spec/backpack-elasticsearch-v1.yml
  endpoints:
    external:
      production: https://api.target.com/registries_searches/v1
      stage: https://stage-api.target.com/registries_searches/v1
      qa: null
      ci: null
    internal:
      production: https://api-internal.target.com/registries_searches/v1
      stage: https://stgapi-internal.target.com/registries_searches/v1
      qa: null
      ci: null
paths:
  /:
    x-data_classification: "PUBLIC"
    get:
      x-incident_priority: P2
      x-response_time_sla: 200ms
      x-success_http_code: '200'
      x-expected_tps: '100'
      summary: Search registries by guest first and last names
      description: Search registries by guest first and last names
      tags:
        - Search
      parameters:
        - name: key
          in: query
          description: The consumer's valid API key.
          required: true
          schema:
            type: string
        - name: channel
          in: query
          description: registry channel
          required: true
          schema:
            $ref: '#/components/schemas/RegistryChannel'
        - name: sub_channel
          in: query
          description: registry sub channel
          required: true
          schema:
            $ref: '#/components/schemas/RegistrySubChannel'
        - name: first_name
          in: query
          description: Guest first name
          required: true
          schema:
            type: string
        - name: last_name
          in: query
          description: Guest last name
          required: true
          schema:
            type: string
        - name: organization_name
          in: query
          description: Organization name
          required: true
          schema:
            type: string
        - name: registry_type
          in: query
          description: Registry Type
          required: false
          schema:
            $ref: '#/components/schemas/RegistryType'
        - name: state
          in: query
          description: Resgistry Event State
          required: false
          schema:
            type: string
        - name: min_date
          in: query
          description: Registry event date
          required: false
          schema:
            type: string
            format: date
            example: "2021-02-17"
        - name: max_date
          in: query
          description: Registry event date
          required: false
          schema:
            type: string
            format: date
            example: "2021-02-17"
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: integer
        - name: page_size
          in: query
          description: Page size
          required: false
          schema:
            type: integer
        - name: sort_field
          in: query
          description: sort field by
          required: false
          schema:
            $ref: '#/components/schemas/RegistrySearchSortFieldGroup'
        - name: sort_order
          in: query
          description: sort order by
          required: false
          schema:
            $ref: '#/components/schemas/SortOrder'
      responses:
        '200':
          description: list of searched registries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RegistryData'
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Unknown Error

servers:
  - url: 'https://api.target.com/registries_searches/v1'
components:
  schemas:
    RegistryData:
      type: object
      properties:
        registry_id:
          type: string
          format: uuid
          nullable: true
        registry_title:
          type: string
          nullable: true
        registry_type:
          $ref: '#/components/schemas/RegistryType'
        registry_status:
          $ref: '#/components/schemas/RegistryStatus'
        search_visibility:
          $ref: '#/components/schemas/RegistrySearchVisibility'
        registrant_first_name:
          type: string
          nullable: true
        registrant_last_name:
          type: string
          nullable: true
        coregistrant_first_name:
          type: string
          nullable: true
        coregistrant_last_name:
          type: string
          nullable: true
        organization_name:
          type: string
          nullable: true
        event_city:
          type: string
          nullable: true
        event_state:
          type: string
          nullable: true
        event_country:
          type: string
          nullable: true
        event_date:
          type: string
          format: date
          nullable: true
        image_url:
          type: string
          nullable: true
        image_id:
          type: string
          nullable: true
        image_dimension:
          type: string
          nullable: true
        image_url_params:
          type: string
          nullable: true
    RegistryType:
      type: string
      enum:
        - BABY
        - WEDDING
        - CHARITY
        - CUSTOM
    RegistryStatus:
      type: string
      enum:
        - ACTIVE
        - INACTIVE
    RegistrySearchVisibility:
      type: string
      enum:
        - PUBLIC
        - PRIVATE
    RegistryChannel:
      type: string
      enum:
        - WEB
        - MOBILE
        - STORE
        - ADMIN
        - EXTERNAL
    RegistrySubChannel:
      type: string
      enum:
        - KIOSK
        - SCANNER
        - TGTWEB
        - IOS
        - ANDROID
        - SPARTAG
        - CC
        - POS
        - GOM
        - SPARTAR
        - EGIFT
        - XO
    RegistrySearchSortFieldGroup:
      type: string
      enum:
        - NAME
        - EVENT_DATE
        - LOCATION
    SortOrder:
      type: string
      enum:
        - ASC
        - DESC
